@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=DynaPuff:wght@700&family=Kumbh+Sans:wght@400;700&family=Manrope:wght@800&family=Outfit&family=Roboto&family=Rubik:ital,wght@1,300&display=swap");

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-primary: hsl(0, 97%, 63%);
  --clr-background: hsl(223, 30%, 9%);
  --clr-secondary-700: hsl(223, 36%, 14%);
  --clr-secondary-500: hsl(223, 23%, 46%);
  --clr-secondary-100: hsl(0, 0%, 100%);

  /* typography */
  --fs-h-l: 2rem;
  --fs-h-m: 1.5rem;
  --fs-h-s: 1.125rem;
  --fs-b-m: 0.9375rem;
  --fs-b-s: 0.8125rem;

  --ff-outfit: "Outfit", sans-serif;

  --fw-light: 300;
  --fw-medium: 500;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-outfit);
  color: var(--clr-secondary-100);
  background-color: var(--clr-background);
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.uppercase { text-transform: uppercase; }
